.dropdown:hover > .dropdown-menu {
    display: block;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

#container {
    display: none;
}

#loading {
    position: absolute;
    left: 50%;
    top: 40%;
    margin-left: -30px;
    opacity: 0.5;
    position: fixed;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1500px;
}

h1,h2,h3 {
    margin-top:10px;
}

.drug-table {
    table-layout: fixed;
}

th {
    width: 60px;
}

.w1 {
    width: 80px;
}

.w2 {
    width: 100px;
}

.w3 {
    width: 120px;
}

.w4 {
    width: 140px;
}

.w5 {
    width: 160px;
}

.w6 {
    width: 180px;
}

.w7 {
    width: 200px;
}

.w8 {
    width: 220px;
}

.w9 {
    width: 240px;
}

.w10 {
    width: 260px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select {
    max-width: 280px;
}

.message {
    color:red;
    font-size:x-large;
}


.jumbotron {
    background-color: #F7F7F7;
}

    .jumbotron h1 {
        color: #5E3A3A;
    }


.ime-active {
    ime-mode:active;
}

.ime-inactive {
    ime-mode:inactive;
}

.ime-disabled {
    ime-mode:disabled;
}

.oldlog {
    background-color:whitesmoke;
}
